
.grid-container{
	display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:100px 200px 200px;
    gap:10px;	
}
.first{
	grid-column:span 3;
    background-color:green;  
}
.card{
	background-color:blue;    
}